/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#splashContainer{
    width: 100%;
    height: 600px;
    border: 1px solid #F00;
    box-sizing: border-box;
}
#splash{
    
}














